.cat-form {
    margin: 10px; /* Reduced margin */
    padding: 10px; /* Reduced padding */
    border: 1px solid #ccc;
    border-radius: 8px;
    width: calc(30% - 20px); /* Adjusted width */
    display: inline-block; /* Added display property */
  }
  
  .cat-form input,
  .cat-form textarea,
  .cat-form button {
    display: block;
    margin: 5px 0; /* Reduced margin */
    padding: 5px; /* Reduced padding */
    width: calc(100% - 12px); /* Adjusted width */
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .cat-form button {
    background-color: #705c86;
    color: white;
    cursor: pointer;
  }
  
  .cat-form button:hover {
    background-color: #ad8dcf;
  }
  
  .cat-list-container {
  display: flex; /* Display children side by side */
}

.cat-list {
  flex: 1; /* Take up remaining space */
  margin-right: 20px; /* Add margin to separate form and list */
}

.cat-form {
  width: 30%; /* Adjusted width for the form */
}
