.navbar-container {
    position: relative;
    padding: 10px;
    background: linear-gradient(to right, #545784, rgba(255, 255, 255, 0.2)); /* Gradient background */
}

.hamburger-btn {
    background: none;
    border: none;
    color: #fff; /* White text */
    font-size: 24px;
    cursor: pointer;
}

.navbar-dropdown {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #a7a6a6;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    z-index: 5;
    width: 200px;
    background: linear-gradient(to right, #545784, rgba(255, 255, 255, 0.85)); /* Gradient background */
}

.navbar__item {
    padding: 10px;
    border-bottom: 1px solid #555;
}

.navbar__link {
    text-decoration: none;
    color: #fff;
    padding: 0.5rem 1rem;
    display: block;
    font-size: 18px; /* Increased font size */
    transition: transform 0.3s ease; /* Add transition */
}

.navbar__link:hover {
    background-color: rgba(85, 85, 85, 0.1); /* 50% opacity */
    color: #b19cd9; /* Light purple on hover */
    transform: scale(1.1); /* Grow when hovered */
    font-weight: bold;
}

